@using CrucibleBlogMVC.Services.Interfaces
@using CrucibleBlogMVC.Enums
@using CrucibleBlogMVC.Data

@inject IImageService _ImageService


<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media d-flex flex-column flex-md-row">
                        <div class="thumbnail order" id="authorAreaImg">
                            <a>
                                <img src="@_ImageService.ConvertByteArrayToFileAsync(ViewBag.BlogAuthor.ImageData, ViewBag.BlogAuthor.ImageType, (int)(DefaultImage.BlogUserImage))" style="max-width: 250px" class="img-fluid authorImg" />
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="https://jamalgibson-portfolio.netlify.app/">Jamal Gibson</a></h1>
                                <span class="b3 subtitle">Software Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description text-lg-start">
                                    Developer by day, amateur blogger by night.
                                    I made this blog site as a showcase of my skills in web developement using C#, ASP.NET, MVC alongside HTML, CSS, and JavaScript.
                                    With the ever increasing number of tools and frameworks available to developers,
                                    I wanted to have a blog site where I could detail my learning experiences and share my thoughts on the latest trends in the industry.
                                    So if you're interested in learning more about me, my projects, or my thoughts on topics of interest, feel free to explore my blog!
                                </p>
                                <ul class="social-share-transparent size-md text-lg-start">                                    
                                    <li><a href="mailto:jamal.gibson@rogers.com"><i class="far fa-envelope"></i></a></li>
                                    <li><a href="https://github.com/GI-Jamal"><i class="fa fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/jamal-gibson-3b7bb9140/"><i class="fab fa-linkedin-in"></i></a></li>                                    
                                    <li><a href="https://jamalgibson-portfolio.netlify.app/"><i class="fa fa-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
